@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Ledger&display=swap');

/*Conteúdo/Artigo Principal*/

.stand-principal{
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 2rem;
    margin: 10px;
    margin: 5rem;
    padding: 1rem 1.2rem;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
    position: relative;
}

.overlay-artigo{
    position: absolute;
    inset: 0;
    z-index: 5;
    opacity: 0;
}

.stand-principal:hover{
    box-shadow: 0px 0px 10px black;
    transform: scale(1.01);
}

.stand-principal:active{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1);
}

.artigos{
    position: relative;
    z-index: 0;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.artigos > hr{
    height: 20rem;
    width: 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.img-artigo-principal{
    border-radius: 10px;
    width: 550px;
    height: 310px;
}

.artigo-desc{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 1rem;
}   

.categorias, .categorias-principal{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 15px;
    text-shadow: none;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    border-radius: 999px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.descricao-artigo > p, .descricao-artigo{
    display: flex;
    height: auto;
    flex-flow: column nowrap;
    gap: 2rem;
}

.descricao-artigo > p{
    text-decoration: none;
    text-align: left;
    padding-right: 1rem;
    color: black;
    opacity: 0.65;
}

.items-artigos{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    align-self: flex-start;
    padding-bottom: 2rem;
    opacity: 0.8;
    margin-top: auto;
}

.artigo-desc > a{
    height: 100%;
}

.info-artigo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
}

/*Botões de categoria*/

.btn-categorias{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
}

.btn-categorias > input[type = "button"]{
    padding: 0.5rem 2rem;
    border-radius: 999px;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

/*Artigos gerais*/

main > section{
    padding-bottom: 6rem;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 6rem;
}

.container-artigos{
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: center;
    align-items: flex-start;
}


.stands-artigo{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    font-size: smaller;
    width: 25rem;
    height: 29rem;
    justify-content: space-between;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.stands-artigo:hover{
    box-shadow: 0px 0px 10px black;
    transform: translateY(-10px) scale(1.01);
}

.stands-artigo:active{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.99);
}

.img-artigos{
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
}

.items-artigos-gerais{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    opacity: 0.8;
    margin-top: auto;
}

.descricao-artigo-geral > a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.descricao-artigo-geral > a > p{
    color: black;
    opacity: 0.65;
}

.descricao-artigo-geral > a > h2, .descricao{
    padding: 0px 0.3rem;
}

/*Botão Carregar Mais*/

#carregar-mais{
    font-size: medium;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
}