
/*Formatações gerais*/
*{
    font-family: "Comfortaa", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-shadow: 2px 1px  5px rgb(173, 173, 173);
}

html, body{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.no-scroll {
    overflow: hidden;
}

main{
    flex: 1;
}

button, input{
    border: none;
    font-weight: bolder;
    font-family: "Comfortaa", sans-serif;
}

input[type = button], input[type = reset]{
    display: inline-block;
    background: linear-gradient(135deg, #004aad, #006eff, #d340fd);
    color: white;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(70, 70, 70, 0.5);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

input[type = button]:hover, input[type = reset]:hover{
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.4);
    transform: scale(1.05);
}

input[type = button]:active, input[type = reset]:active{
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.4);
    transform: scale(0.95);
}

button:hover{
    cursor: pointer;
}

input[type = search], input[type = text], input[type = email], textarea, input[type = password]{
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
}

hr{
    height: 2px;
    background-color: rgb(172, 172, 172);
    border: none;
}

li{
    list-style-type: none;
    height: 100%;
}

.user-icon{
    height: 25px;
}

/*CABEÇALHO*/
header{
    position: sticky;
    top: 0px;
    z-index: 997;
}

header > section{
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.menu-img{
    height: 30px;
    width: 30px;
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.menu-img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px rgba(119, 119, 119, 0.8);
    background-color: rgba(122, 122, 122, 0.2);
}

.menu-img:active{
    transform: scale(0.95);
}

.pesquisa-icone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-right: 1rem;
}

.icone-user{
    margin-left: 20px;
}

.user-icon{
    transition: transform 0.5s ease, background-color 0.45s ease, box-shadow 0.5s ease;
}

.user-icon:hover{
    transform: scale(1.05);
    background-color: rgba(122, 122, 122, 0.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.user-icon:active{
    transform: scale(0.95);
}

.input-pesquisar{
    align-content: flex-end;
}

.pesquisar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 9px;
    align-self: flex-start;
    border: solid gray 1px;
    outline: 2px solid transparent;
    transition: outline 0.5s ease;
}

.pesquisar:has(input:focus){
    outline: 1px solid gray;
}

input[type = search]{
    border: none;
    outline: none;
    background-color: rgb(224, 224, 224);
    margin-left: 5px;
}

.lupa{
    background-color: rgb(224, 224, 224);
    height: 17px;
}

.logo-img{
    height: 60px;
    width: 188px;
}

.logo{
    position: relative;
    left: 8rem;
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: black;
    opacity: 0.3;
}

/*Aside/Menu Lateral*/

.aside{
    border: 2px solid rgb(172, 172, 172);
    border-radius: 1%;
    width: 16%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 1.2rem;
    z-index: 999;
}

aside > section{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

}

.menu-logo{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    align-items: center;
    padding-left: 0.7rem;
}

.logo-aside > a > img{
    height: 50px;
}

.redes-aside{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.redes-aside > h3, .usuario-aside > h3{
    margin-bottom: 0.5rem;
}

.ul-aside{
    margin: 0px;
    padding: 0px;
}

.ul-aside > li{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0rem 0px;
    height: 2.4rem
}

.ul-aside > li > a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: left;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 300;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.ul-aside > li > a:hover{
    color: rgb(46, 46, 46);
    background-color: rgb(216, 216, 216);
}

.ul-aside > li > a:active{
    color: rgb(0, 0, 0);
    text-shadow: 2px 1px  5px rgb(66, 66, 66);
}

.usuario-aside, .redes-aside{
    padding-left: 0.7rem;
    width: 100%;
}

.usuario-aside > nav, .redes-aside > nav{
    width: 100%;
}

/*Footer/Rodapé*/

footer > section{
    display: flex;
    justify-content: space-between;
    height: auto;
}

footer > section > div{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
}

.logo-rodape{
    text-align: justify;
    width: 390px;
    margin-left: 50px;
}

.logo-rodape > p{
    margin-top: 20px;
}

.form-rodape{
    display: flex;
    flex-flow: column nowrap;
}

.foooter-redes{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 7px;
}

.footer-contato{
    position: relative;
    right: 10%;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    flex-grow: 0;
}

.footer-contato > form > input[type = text], .email-footer, textarea{
    background-color: rgb(224, 224, 224);
    padding: 5px 5px 5px 18px;
    border-radius: 5px;
    margin: 6px 0px;
    border: solid gray 1px;
    outline-color: gray;
}

.footer-contato > form > input[type = button]{
    align-self: center;
}

#carregar-mais{
    width: auto;
}

.footer-contato > form > label, .redes-nav > a{
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.redes-nav{
    height: auto;
    padding: 0.7rem 0px
}

.redes-nav > a:hover{
    color: rgb(100, 100, 100);
}

.direitos-reservador{
    margin: 10px 50px;
}

/*Formatações Especificas*/